.navbar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}
.navbar_signinBtn {
  margin-right: 10px !important;
}
.btn-postform {
  text-decoration: none;
}
